
.chart_all{
    margin-top: 70px;
    padding: 0 7%;
}
.container {
    display: grid;
   grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.card {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 50px;
    margin: 10px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.chart-container {
    position: relative;
    width: 100%;
}

canvas {
    max-width: 100%;
    height: auto;
}

.highlight {
    font-weight: bold;
    
}